enum class {{classname}}(val displayName: String, val description: String? = null) {
{{#vendorExtensions.x-enum-metadata}}
 	{{value}}("{{{name}}}", "{{{description}}}"),
{{/vendorExtensions.x-enum-metadata}}
}